@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

nav {
  backdrop-filter: blur(100px); /* Slør intensitet */
  background-color: rgba(0, 0, 0, 0.5); /* Sort med 50% gennemsigtighed */
  transition: background-color 0.3s ease;
}
